/*
Theme Name:   Valet Portal
Theme URI:    https://valet.io
Description:  Bricks Child Theme
Author:       Milos Milosevic
Author URI:   https://valet.io
Template:     bricks
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/